body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Ubah warna latar belakang menjadi abu-abu muda */
}

h1 {
  text-align: center;
  margin-top: 20px; /* Beri jarak atas pada judul */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ubah tata letak grid menjadi fleksibel */
  gap: 20px; /* Beri jarak antara grid items */
  padding: 20px;
}

.grid-item {
  padding: 20px;
  position: relative;
  background-color: #fff; /* Ubah warna latar belakang grid item menjadi putih */
  border-radius: 10px; /* Tambahkan sudut melengkung pada grid item */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Beri efek bayangan pada grid item */
}

.grid-item p {
  font-size: 16px;
  margin-bottom: 10px; /* Beri jarak bawah pada teks dalam grid item */
  color: #333333; /* Ubah warna teks menjadi lebih gelap */
  font-weight: normal; /* Hilangkan ketebalan pada teks */
}

.buttons {
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item video {
  width: 100%;
  height: auto; /* Gunakan proporsi asli dari video */
  border-radius: 10px; /* Tambahkan sudut melengkung pada video */
  box-shadow: none; /* Hapus efek bayangan pada video */
}

#localVideo-container {
  width: 250px; /* Tetapkan lebar video lokal */
  height: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fff; /* Ubah warna latar belakang video lokal menjadi putih */
  border-radius: 10px; /* Tambahkan sudut melengkung pada video lokal */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Beri efek bayangan pada video lokal */
}

#localVideo-container video {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Tambahkan sudut melengkung pada video lokal */
}
